@import "./../../variables";

$gold: #ffd90c;

#advent-calendar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw !important;
  height: 100vh;
  height: calc(100vh - 61px);
  padding-top: 0 !important;

  background-color: $highlightColor;
  transition: .75s;
}


/* Calendar */

.calendar-wrap {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* we always want 7 boxes in a row */
  padding: 0 calc((100vw - (7 * (7vw + 1vw)))/2) 5em;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  background: url("./img/xMas-BG-1.png") no-repeat center;
  background-size: cover;
}


/* Cubes container */

.cubes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Single cube */

.cube {
  position: relative;
  display: block;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 7vw;
  height: 7vw;
  margin: 0.5vw;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  /* push to the right weekday (we have to push 3 boxes) */
  &:first-child {
    margin-left: calc(((7vw + 1vw) * 3) + 0.5vw);
  }
  /* push to the left weekday (we have to push 1 boxes) */
  &:last-child {
    margin-right: calc(((7vw + 1vw) * 1) + 0.5vw);
  }

  &:not(.cube--inactive) {
    cursor: pointer;
  }
}

/* cube sides and rotations */

.cube__side {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cube__side--front {
  position: relative;
  -webkit-transform: translateZ(3.5vw);
  transform: translateZ(3.5vw);
}

.cube__side--back {
  -webkit-transform: rotateY(180deg) translateZ(3.5vw);
  transform: rotateY(180deg) translateZ(3.5vw);
}

.cube__side--right {
  -webkit-transform: rotateY(90deg) translateZ(3.5vw);
  transform: rotateY(90deg) translateZ(3.5vw);
}

.cube__side--left {
  -webkit-transform: rotateY(-90deg) translateZ(3.5vw);
  transform: rotateY(-90deg) translateZ(3.5vw);
}

.cube__side--top {
  -webkit-transform: rotateX(90deg) translateZ(3.5vw);
  transform: rotateX(90deg) translateZ(3.5vw);
}

.cube__side--bottom {
  -webkit-transform: rotateX(-90deg) translateZ(3.5vw);
  transform: rotateX(-90deg) translateZ(3.5vw);
}


/* canvas for snow */

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  transition: background-color 0.8s;
}


/* title that appears on hover */

.title {
  font-size: 3.25vw;
  font-weight: 700;
  position: absolute;
  right: 3vw;
  top: 7vw;
  margin: 0;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
}


/* number before title */

.title::before {
  content: attr(data-number);
  display: inline-block;
  margin-right: 0.5em;
  color: $gold;
}


/* letter span for animations */

[class*='letter'] {
  position: relative;
  display: inline-block;
  white-space: pre;
}

[class*='letter']:blank {
  padding-right: 10em;
}


/* content wrap */

#advent-calendar .content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


/* individual content block */

.content__block {
  position: absolute;
  z-index: 100;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  padding: 3em 0 6em 7vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.content__title {
  font-size: 7vw;
  line-height: 0.85;
  margin: 0;
}

.content__description {
  font-size: 2.25vw;
  margin: 1em 0;
  padding: 0 0 0 5vw;
}

.content__meta {
  margin: 0;
  padding: 0 0 0 2vw;
  &:before {
    content: '\2014';
    margin-right: 5px;
  }
}

.content__number {
  position: absolute;
}

.btn-back {
  font-size: 2em;
  line-height: 2;
  position: absolute;
  z-index: 100;
  left: 25px;
  top: 0;
  width: 2em;
  margin: 1em;
  padding: 0;
  pointer-events: auto;
  background: none;
}

.btn-back:focus {
  outline: none;
}

.content__block,
.content__description,
.content__meta,
.content__number,
.btn-back {
  opacity: 0;
}

.content__block--current {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 50.75em) {
  .calendar {
    padding: 0 calc((100vw - (7 * (12vw + 1vw)))/2) 5em;
  }
  .cube {
    width: 12vw;
    height: 12vw;
  }
  /* push to the right weekday if in big view (we have to push 3 boxes) */
  .cube:first-child {
    margin-left: calc(((12vw + 1vw) * 3) + 0.5vw);
  }
  .cube__side--front {
    -webkit-transform: translateZ(6vw);
    transform: translateZ(6vw);
  }
  .cube__side--back {
    -webkit-transform: rotateY(180deg) translateZ(6vw);
    transform: rotateY(180deg) translateZ(6vw);
  }
  .cube__side--right {
    -webkit-transform: rotateY(90deg) translateZ(6vw);
    transform: rotateY(90deg) translateZ(6vw);
  }
  .cube__side--left {
    -webkit-transform: rotateY(-90deg) translateZ(6vw);
    transform: rotateY(-90deg) translateZ(6vw);
  }
  .cube__side--top {
    -webkit-transform: rotateX(90deg) translateZ(6vw);
    transform: rotateX(90deg) translateZ(6vw);
  }
  .cube__side--bottom {
    -webkit-transform: rotateX(-90deg) translateZ(6vw);
    transform: rotateX(-90deg) translateZ(6vw);
  }
  .title {
    font-size: 5vw;
  }
  .content__description {
    font-size: 1.15em;
    padding: 0 0 0 0.5em;
  }
  .content__block {
    padding: 2em;
    width: 100%;
  }
  .btn-back {
    font-size: 1.25em;
    bottom: auto;
    top: 0;
    margin: 0.5em;
  }
}


/**
 *  Style3.css
 */

.cube__side {
  border: 3px solid #e6e6e6;
  outline: 1px solid #e6e6e6;
  background: #e6e6e6 url(./img/c1.png) no-repeat center center;
  background-size: contain;
}

.cube:not(.cube--inactive):nth-child(1n) .cube__side {
  background-image: url(./img/c2.png);
}

.cube:not(.cube--inactive):nth-child(2n) .cube__side {
  background-image: url(./img/c3.png);
}

.cube:not(.cube--inactive):nth-child(3n) .cube__side {
  background-image: url(./img/c4.png);
}

.cube:not(.cube--inactive):nth-child(4n) .cube__side {
  background-image: url(./img/c5.png);
}

.cube:not(.cube--inactive):nth-child(5n) .cube__side {
  background-image: url(./img/c6.png);
}


/* With JS we insert a number span into the cube */

.cube__number {
  position: absolute;
  font-weight: 700;
  color: $gold;
  width: 100%;
  text-align: right;
  font-size: 1.8em;
  height: 1em;
  line-height: 1;
  bottom: 0;
  right: 5%;
  margin: -0.75em 0 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cube--inactive .cube__number {
  color: $highlightColor;
}

.content__block {
  width: 100%;
  padding: 0 5vw 0 20vw;
  color: $textColorLight;
}

.content__description {
  padding: 0 0 0 4vw;
}

.content__number {
  color: $textColorDark;
  font-weight: bold;
  line-height: 0.5;
  letter-spacing: -0.175em;
  font-size: 30vw;
  left: -2vw;
  bottom: 8vh;
}

.content__title {
  font-size: 6vw;
}

.title {
  color: $gold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  right: auto;
  left: 2vw;
}

@media screen and (max-width: 50.75em) {
  .content__block {
    padding: 4em 2em 0;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .content__number {
    bottom: 30vh;
  }
}
