/* Container */
.view.full-container.Hardware {
  background: url("./img/Main-BG-1.png");
}

.container {

}
.fas.fa-desktop {
  color: #ffffff;
  padding-right: 1rem;
}
.fas.fa-server {
  color: #ffffff;
  padding-right: 1rem;
}

.nav-tabs {
  color: #ffffff;
}

.nav-link {
  margin-top: 1rem;
  color: #ffffff;
}

.row {
  color: #ffffff;
}
h1 {
  color: #ffffff;
}

hr {
  border-top: 2px solid rgba(255,255,255,1);
}