@import "./../../variables";

.view.full-container.bulls {
  background: url("./img/Bulls-BG-Bulls.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  .container {
    margin-top: 50px;
    h1, .member {
      margin-bottom: 50px;
    }
  }
}