@import "./../../variables";

.view.full-container.my-profile {
  background: url("./Bulls-02.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  .container {
    padding-bottom: 100px;
    form {
      padding: 25px 0;
      .form-group.username .alert {
        margin-top: 15px;
      }
      .actions {
        button {
          display: inline-block;
          &:not(last-child) {
            margin-right: 25px;
          }
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 2px;
  }
}
