ul.language-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    cursor: pointer;
    filter: grayscale(80%);
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.current {
      filter: none;
      pointer-events: none;
    }
  }
}