.section.partner {

  img {
    max-height: 120px;
    margin-bottom: 1rem;
  }

  .inner > h2 {
    margin-bottom: 50px;
  }

  a {
    color: #fff;
  }

  .runtime, .merch-shop {
    text-align: center;
  }

  .merch-shop {
    > a {
      display: block;
      margin-bottom: 1rem;
    }
    img {
      margin-bottom: 0;
      max-height: 88px;
    }
    h2 {
      margin-bottom: 0;
      line-height: 1;
    }
  }
}