.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 0 30px;
  color: #fff;
  font-size: 14px;
  background-color: #081a29;
  border-bottom: 1px solid #303743; }
  .navbar .nav-item.active {
    pointer-events: none; }
  .navbar .nav-link.disabled, .navbar .nav-link.disabled a, .navbar .nav-item.disabled, .navbar .nav-item.disabled a {
    color: #6c757d !important;
    pointer-events: none !important; }
  .navbar .container {
    justify-content: flex-end; }
    @media (min-width: 992px) {
      .navbar .container {
        position: relative; } }
    .navbar .container .navbar-brand {
      position: absolute;
      left: 10px;
      top: 10px; }
      @media (min-width: 576px) {
        .navbar .container .navbar-brand {
          left: 40px; } }
      @media (min-width: 992px) {
        .navbar .container .navbar-brand {
          left: 0; } }
      .navbar .container .navbar-brand img {
        width: 100px; }
    .navbar .container .navbar-toggler {
      width: 45px;
      height: 88px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      border: none; }
      .navbar .container .navbar-toggler:not(.collapsed) span:nth-child(1) {
        top: 32px;
        width: 0;
        left: 50%; }
      .navbar .container .navbar-toggler:not(.collapsed) span:nth-child(2) {
        transform: rotate(45deg); }
      .navbar .container .navbar-toggler:not(.collapsed) span:nth-child(3) {
        transform: rotate(-45deg); }
      .navbar .container .navbar-toggler:not(.collapsed) span:nth-child(4) {
        top: 32px;
        width: 0;
        left: 50%; }
      .navbar .container .navbar-toggler span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #e31d3c;
        border-radius: 4px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out; }
        .navbar .container .navbar-toggler span:nth-child(1) {
          top: 32px; }
        .navbar .container .navbar-toggler span:nth-child(2), .navbar .container .navbar-toggler span:nth-child(3) {
          top: 44px; }
        .navbar .container .navbar-toggler span:nth-child(4) {
          top: 56px; }
    .navbar .container a, .navbar .container .nav-link {
      transition: color .25s; }
    .navbar .container a {
      color: #fff; }
      .navbar .container a:hover {
        color: #e31d3c; }
    @media (min-width: 992px) {
      .navbar .container .navbar-collapse {
        padding-left: 100px; } }
    @media (min-width: 992px) {
      .navbar .container .navbar-collapse .navbar-nav {
        padding: 25px 0; } }
    .navbar .container .navbar-collapse .navbar-nav.default {
      flex-grow: 1;
      justify-content: space-between;
      text-transform: uppercase; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .navbar .container .navbar-collapse .navbar-nav.default {
          padding-right: 30px;
          border-right: 1px solid #303743; } }
      .navbar .container .navbar-collapse .navbar-nav.default li.active a {
        color: #e31d3c; }
    @media (min-width: 992px) {
      .navbar .container .navbar-collapse .navbar-nav.socials, .navbar .container .navbar-collapse .navbar-nav.sign-in {
        padding: 25px 30px; } }
    .navbar .container .navbar-collapse .navbar-nav.socials .nav-link, .navbar .container .navbar-collapse .navbar-nav.sign-in .nav-link {
      color: #e31d3c; }
      .navbar .container .navbar-collapse .navbar-nav.socials .nav-link:hover, .navbar .container .navbar-collapse .navbar-nav.sign-in .nav-link:hover {
        color: #fff; }
    .navbar .container .navbar-collapse .navbar-nav.socials {
      border-right: 1px solid #303743; }
    @media (max-width: 991px) {
      .navbar .container .navbar-collapse .navbar-nav.sign-in:before {
        position: absolute;
        left: 0;
        width: 100%;
        content: " ";
        border-top: 1px solid #303743; } }
    .navbar .container .navbar-collapse .navbar-nav.sign-in .nav-item {
      display: flex;
      align-items: center;
      color: #e31d3c; }
      @media (min-width: 992px) {
        .navbar .container .navbar-collapse .navbar-nav.sign-in .nav-item {
          font-family: "Droid Serif", sans-serif; } }
      .navbar .container .navbar-collapse .navbar-nav.sign-in .nav-item .nav-link:nth-child(2) {
        margin-right: .5rem; }
      .navbar .container .navbar-collapse .navbar-nav.sign-in .nav-item .nav-link:last-child {
        margin-left: .5rem; }

/*# sourceMappingURL=Header.css.map */
