.view.full-container.calendar {
  background: url("./Background.jpg") no-repeat center;
  background-size: cover;
  color: #000;

  .container {
    padding-bottom: 50px;
    text-align: center;
  }
}
