@import "../../variables";

footer#footer {
  height: $footerHeight;
  line-height: $footerHeight;
  text-align: center;
  background-color: white;

  a {
    color: $grey;
    padding: 0 15px;
    font-family: "Droid Serif", sans-serif;
    text-decoration: none;
    &.active {
      pointer-events: none;
      color: #e31d3c;
    }
    &:hover {
      color: #e31d3c;
    }
  }
}