@import "../../variables";

footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: white;

  a {
    color: $grey;
    padding: 0 15px;
    font-family: "Droid Serif", sans-serif;
    &:hover {
      text-decoration: none;
      color: #e31d3c;
    }
  }
}