@import "./../../variables.scss";

.home {
  position: relative;
  min-height: inherit;
  padding: 0;

  > .fullpage-inner-wrapper {
    &:not(.live) .section.start {
      .fp-controlArrow {
        &.fp-prev {
          left: -1000px;
        }
        &.fp-next {
          right: -1000px;
        }
      }
    }
    &.live .section.start {
      .fp-controlArrow {
        opacity: 1;
      }
      .slide.start img {
        position: relative;
        cursor: pointer;
      }
    }
  }

  .section {
    background: no-repeat center;
    background-size: cover;

    .fp-tableCell {
      vertical-align: unset;
    }

    .container .inner {
      margin-top: $headerHeight + 40;
    }

    &.start {
      background-image: url("./img/Bulls-BG-Start.jpg");

      #twitch-embed-bb, #twitch-embed-bp {
        iframe {
          max-width: 100%;
          box-shadow: 0 0 50px 0 black;
        }
      }

      .fp-controlArrow {
        opacity: 0;
        transition: .3s;
      }

      .slide.start {
        img {
          display: block;
          width: 400px;
          margin: 0 auto 50px;
        }
      }

      .slide.stream .full-container{
        width: 100%;
        height: 100%;
        padding-top: $headerHeight;
        display: flex;
        align-items: center;
        justify-content: center;

        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 45%;
            cursor: pointer;
          }
        }
      }

      .container {
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .inner {
          position: relative;
          margin-top: $headerHeight;

          .btn.back {
            margin: 25px auto 0;
          }

          .live {
            position: absolute;
            top: 0;
            right: -115px;
            color: $highlightColor;
            font-size: 1.8em;
            cursor: pointer;
            .record {
              display: inline-block;
              border-radius: 100%;
              background-color: $highlightColor;
              width: 20px;
              height: 20px;
              margin-right: 20px;
              animation-name: pulse_animation;
              animation-duration: 2000ms;
              transform-origin: 50% 50%;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
          }

          @keyframes pulse_animation {
            0% {
              -webkit-box-shadow: 0 0 0 0 rgba(227, 29, 60, 0.4);
            }
            70% {
              -webkit-box-shadow: 0 0 0 15px rgba(227, 29, 60, 0);
            }
            100% {
              -webkit-box-shadow: 0 0 0 0 rgba(227, 29, 60, 0);
            }
          }

          .links {
            margin: 25px auto 0;
            .twitch {
              min-width: 300px;
            }
            a {
              padding: 15px 25px;
              margin-bottom: 25px;
              font-size: 1.5em;
              border-width: 3px;
            }
          }
        }
      }
    }
    &.bulls {
      background-image: url("./img/Bulls-BG-Bulls.jpg");
      color: #fff;

      h2 {
        color: $highlightColor;
      }

      .square-card {
        margin-top: 50px;

        img {
          max-height: 40%;
        }
      }
    }
    &.regeln {
      background-image: url("./img/Bulls-BG-Regeln.jpg");

      .inner {

        h2 {
          margin-bottom: 25px;
        }

        div[data-toggle="collapse"] {
          cursor: pointer;
          width: 100%;
          padding: 15px 0;
          color: $highlightColor;
          text-transform: uppercase;
          font-weight: bold;
          border-bottom: 1px solid #fff;
          &:not(.collapsed) {
            border-color: transparent;
            &:after {
              transform: rotate(90deg);
            }
          }
          &:after {
            content: "\f054";
            font-family: "Font Awesome\ 5 Free";
            font-weight: 900;
            font-size: 14px;
            line-height: 24px;
            margin-left: 10px;
            float: right;
            transition: transform .3s;
          }
        }
      }

      .scroll-up {
        bottom: 40px;
      }
    }
    &.partner {
      background-image: url("./img/Bulls-BG-Partner.jpg");
      color: #fff;

      .inner {
        margin-bottom: 125px;
      }
    }
  }

  .scroll-down, .scroll-up {
    position: absolute;
    z-index: 5;
    left: 60px;
    bottom: 40px;
    font-family: "Droid Serif", sans-serif;
    font-size: 14px;
    color: $highlightColor;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    i {
      margin-right: 5px;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}