@import "./../../variables.scss";

.home {
  position: relative;
  min-height: inherit;
  padding: 0;

  h2 {
    text-transform: uppercase;
    font-family: "Riffic", serif;
  }

  > .fullpage-inner-wrapper {
    &.live .section.start {
      .logo-wrapper {
        cursor: pointer;
        pointer-events: all;
      }
    }
  }

  .section {
    background: no-repeat center;
    background-size: cover;

    .fp-tableCell {
      vertical-align: unset;
    }

    .container .inner {
      margin-top: $headerHeight + 40;
    }

    &.start {
      $partnerHeight: 140px;

      .placeholder {
        position: relative;
        margin-top: $headerHeight;
        height: calc(100vh - #{$headerHeight} - #{$partnerHeight});
      }

      #twitch-embed-bb, #twitch-embed-bp {
        display: none;
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        iframe {
          height: 0;
          max-width: 100%;
          max-height: 100%;
          box-shadow: 0 0 50px 0 black;
        }
      }

      .slider {
        position: relative;
        margin-top: $headerHeight;
        height: calc(100vh - #{$headerHeight} - #{$partnerHeight});

        .overlay {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
          pointer-events: none;
        }

        .logo-wrapper {
          position: absolute;
          z-index: 2;
          width: 400px;
          height: 405px;
          top: 50%;
          left: 50%;
          margin-top: -250px;
          margin-left: -200px;
          pointer-events: none;

          .live-btn {
            position: absolute;
            top: 0;
            right: -115px;
            color: $highlightColor;
            font-size: 1.8em;
            cursor: pointer;

            .record {
              display: inline-block;
              border-radius: 100%;
              background-color: $highlightColor;
              width: 20px;
              height: 20px;
              margin-right: 20px;
              animation-name: pulse_animation;
              animation-duration: 2000ms;
              transform-origin: 50% 50%;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
          }

          @keyframes pulse_animation {
            0% {
              -webkit-box-shadow: 0 0 0 0 rgba(227, 29, 60, 0.4);
            }
            70% {
              -webkit-box-shadow: 0 0 0 15px rgba(227, 29, 60, 0);
            }
            100% {
              -webkit-box-shadow: 0 0 0 0 rgba(227, 29, 60, 0);
            }
          }
        }

        .slide-content {
          width: 100%;
          height: calc(100vh - #{$headerHeight} - #{$partnerHeight});

          .slide-image {
            width: 100%;
            height: 100%;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        .slick-dots {
          bottom: 50px;
        }
      }

      .partner {
        height: $partnerHeight;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $backgroundBlue;

        img {
          width: auto;
          height: calc(#{$partnerHeight} - 40px);
        }

        .tournament-info {

          .counter .timer {
            color: #fff;
            font-size: 3.2em;

            table {
              width: 400px;
              top: 8px;

              td:after {
                right: 10px;
              }
            }
          }

          .links {
            margin-right: 35px;
          }
        }
      }

      // Brauchen wir noch?
      .stream .full-container {
        width: 100%;
        height: 100%;
        padding-top: $headerHeight;
        display: flex;
        align-items: center;
        justify-content: center;

        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 30%;
            margin: 0 25px;
            cursor: pointer;
            transition: transform .5s;
            &:hover {
              transform: scale(1.3);
            }
            &.inactive {
              filter: grayscale(100%);
              pointer-events: none;
            }
          }
        }
      }
    }


    &.bulls {
      background-image: url("./img/Bulls-BG-Bulls.jpg");
      color: #fff;

      h2 {
        text-align: center;
        font-size: 3em;
        margin-bottom: 1em;
      }

      .square-card {
        margin-top: 50px;

        img {
          max-height: 40%;
        }
      }
    }
    &.regeln {
      background-image: url("./img/Bulls-BG-Regeln.jpg");

      .inner {

        h2 {
          margin-bottom: 25px;
        }

        div[data-toggle="collapse"] {
          cursor: pointer;
          width: 100%;
          padding: 15px 0;
          color: $highlightColor;
          text-transform: uppercase;
          font-weight: bold;
          border-bottom: 1px solid #fff;
          &:not(.collapsed) {
            border-color: transparent;
            &:after {
              transform: rotate(90deg);
            }
          }
          &:after {
            content: "\f054";
            font-family: "Font Awesome\ 5 Free";
            font-weight: 900;
            font-size: 14px;
            line-height: 24px;
            margin-left: 10px;
            float: right;
            transition: transform .3s;
          }
        }
      }

      .scroll-up {
        bottom: 40px;
      }
    }
    &.partner {
      background-image: url("./img/Bulls-BG-Partner.jpg");
      color: #fff;

      .inner {
        margin-bottom: 125px;
      }
    }
  }

  .scroll-down, .scroll-up {
    position: absolute;
    z-index: 5;
    left: 60px;
    bottom: 40px;
    font-family: "Droid Serif", sans-serif;
    font-size: 14px;
    color: $highlightColor;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    i {
      margin-right: 5px;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}