.home {
  position: relative;
  min-height: inherit;
  padding: 0; }
  .home .section {
    background: no-repeat center;
    background-size: cover; }
    .home .section .fp-tableCell {
      vertical-align: unset; }
    .home .section .container .inner {
      margin-top: 128px; }
    .home .section.start {
      background-image: url("./img/Bulls-BG-Start.jpg"); }
      .home .section.start .container {
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; }
        .home .section.start .container .inner {
          margin-top: 88px; }
          .home .section.start .container .inner #twitch-embed iframe {
            max-width: 100%;
            box-shadow: 0 0 50px 0 black; }
          .home .section.start .container .inner img {
            display: block;
            width: 500px;
            margin: 0 auto 50px; }
          .home .section.start .container .inner .text {
            display: inline-block;
            margin-right: 15px;
            text-transform: uppercase;
            color: #e31d3c;
            font-size: 1.5em; }
          .home .section.start .container .inner .counter {
            display: inline-block; }
            .home .section.start .container .inner .counter:not(.ended) {
              position: relative;
              top: 12px; }
          .home .section.start .container .inner button {
            margin: 25px auto 0; }
            .home .section.start .container .inner button:hover a {
              color: #fff; }
            .home .section.start .container .inner button a {
              color: #e31d3c;
              transition: color .75s;
              text-decoration: none; }
    .home .section.bulls {
      background-image: url("./img/Bulls-BG-Bulls.jpg");
      color: #fff; }
      .home .section.bulls .square-card {
        margin-bottom: 30px; }
    .home .section.regeln {
      background-image: url("./img/Bulls-BG-Regeln.jpg"); }
      .home .section.regeln .inner {
        margin-bottom: 125px; }
        .home .section.regeln .inner h2 {
          margin-bottom: 25px; }
        .home .section.regeln .inner h3 {
          cursor: pointer;
          width: 100%;
          margin-bottom: 10px; }
          .home .section.regeln .inner h3:not(.collapsed):after {
            transform: rotate(90deg); }
          .home .section.regeln .inner h3:after {
            content: "\f054";
            font-family: "Font Awesome\ 5 Free";
            font-weight: 900;
            margin-left: 10px;
            float: right;
            transition: transform .3s; }
        .home .section.regeln .inner div.collapse {
          margin-bottom: 25px; }
      .home .section.regeln .scroll-up {
        bottom: 40px; }
  .home .scroll-down, .home .scroll-up {
    position: absolute;
    z-index: 5;
    left: 60px;
    bottom: 30px;
    font-family: "Droid Serif", sans-serif;
    font-size: 14px;
    color: #e31d3c;
    cursor: pointer; }
    .home .scroll-down:hover, .home .scroll-up:hover {
      text-decoration: underline; }
    .home .scroll-down i, .home .scroll-up i {
      margin-right: 5px; }
  .home footer {
    position: absolute;
    bottom: 0;
    width: 100%; }

/*# sourceMappingURL=Home.css.map */
