@import "variables";

#app {
  main {
    min-height: calc(100vh - 128px - 101px);

    > .container:not(.home) {
      margin-top: 128px;
    }
  }
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/**
 * Floating labels
 */

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: $grey;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

a {
  color: $highlightColor;
  &:hover {
    color: $highlightColor;
  }
  &.disabled {
    pointer-events: none;
    color: $disabledColor;
    cursor: unset;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn {
  display: block;
  border-radius: 0;
  border: 2px solid;

  &.primary {
    background-color: transparent;
    background-image: linear-gradient($highlightColor, $highlightColor);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 0;
    transition: background-size .5s, color .75s;
    color: $highlightColor;
    border-color: $highlightColor;

    &:hover {
      background-size: 100% 100%;
      color: #fff;
    }
  }
}

.container {
  @media (min-width: 2000px) {
    font-size: 1.5em;
    max-width: 1600px;
  }
}