@import "variables";

#app {
  main {
    position: relative;
    z-index: 10;
    margin-bottom: $footerHeight;
    min-height: calc(100vh - (#{$headerHeight} + 59px) - #{$footerHeight});
    background-color: #fff;

    > .container:not(.home), > .view {
      margin-top: $headerHeight;
      padding-top: 50px;
    }

    > .full-container {
      width: 100%;
      min-height: calc(100vh - #{$headerHeight});
      &:not(.view) {
        padding-top: $headerHeight;
      }
    }
  }
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;

  &.blank {
    overflow: hidden;
    nav, footer {
      display: none;
    }
  }

  &.no-scroll {
    overflow: hidden;
  }
}

// Cookie consent
.cc-window.cc-floating {
  max-width: none;
  bottom: 0;
  left: 0;
  @media (min-width: 490px) {
    max-width: 460px;
    bottom: 1em;
    left: 1em;
  }
}

hr {
  width: 100%;
  height: 2px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 45px;
}

/**
 * Floating labels
 */

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: $grey;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/**
 * Input Field Style
 */
.form-control:focus {
  border-color: $highlightColor;
  box-shadow: 0 0 0 0.2rem rgba($highlightColor, .25);

  &.blue {
    border-color: $backgroundBlue;
    box-shadow: 0 0 0 0.2rem rgba($backgroundBlue, .25);
  }
}

.form-control {
  border-radius: 0;
  &:focus {
    border-color: $highlightColor;
    box-shadow: 0 0 0 0.2rem rgba($highlightColor, .25);
  }
}

.custom-select {
  border-radius: 0;
  &:focus {
    border-color: $highlightColor;
    box-shadow: inset 0 1px 2px rgba(darken($highlightColor, .25), .75), 0 0 5px rgba($highlightColor, .5);
  }
}

.alert {
  border-radius: 0;
}

.nav.nav-tabs {
  &.light .nav-link {
    color: $textColorLight;
    border-radius: 0;
    &:not(.collapsed) {
      border: 1px solid #fff;
    }
  }
  .nav-item:not(:first-child) {
    margin-left: -1px;
  }
}

a {
  color: $highlightColor;
  &:hover {
    color: $highlightColor;
  }
  &.disabled {
    pointer-events: none;
    color: $disabledColor;
    cursor: unset;
    text-decoration: none;
  }

  &.link-light {
    background-color: transparent;
    background-image: linear-gradient($textColorLight, $textColorLight);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 0;
    transition: background-size .5s, color .75s;
    color: $highlightColor;
    border-color: $highlightColor;
    box-shadow: inset 0 -2px 0 $textColorLight;

    &:hover {
      background-size: 100% 100%;
      color: $textColorDark;
    }
  }

  &.link-dark {
    padding: 2px;
    background-color: transparent;
    background-image: linear-gradient($highlightColor, $highlightColor);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 0;
    transition: background-size .5s, color .75s;
    color: $textColorDark;
    border-color: $highlightColor;
    box-shadow: inset 0 -2px 0 $highlightColor;

    &:hover {
      background-size: 100% 100%;
      color: $textColorLight;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn {
  display: block;
  border-radius: 0;
  border: 2px solid;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 0;
  transition: background-size .5s, color .75s;

  &.large {
    padding: 15px 25px;
    margin-bottom: 25px;
    font-size: 1.5em;
    border-width: 3px;
  }

  &.primary {
    background-image: linear-gradient($highlightColor, $highlightColor);
    color: $highlightColor;
    border-color: $highlightColor;

    &:hover {
      background-size: 100% 100%;
      color: #fff;
    }
  }

  &.white {
    background-image: linear-gradient(#fff, #fff);
    color: #fff;
    border-color: #fff;

    &:hover {
      background-size: 100% 100%;
      color: $grey;
    }
  }

  &.discord {
    background-image: linear-gradient(#7289DA, #7289DA);
    color: #7289DA;
    border-color: #7289DA;

    &:hover {
      background-size: 100% 100%;
      color: #fff;
    }
  }

  &.twitch {
    background-image: linear-gradient(#6441A4, #6441A4);
    color: #6441A4;
    border-color: #6441A4;

    &:hover {
      background-size: 100% 100%;
      color: #fff;
    }
  }
}

/**
 *  Fullpage.js
 */

.fp-controlArrow {
  &.fp-prev {
    left: 60px;
    border-color: transparent $highlightColor transparent transparent;
  }
  &.fp-next {
    right: 60px;
    border-color: transparent transparent transparent $highlightColor;
  }
}

#fp-nav {
  .fp-tooltip {
    padding: 0 20px;
    overflow: unset !important;
    &:after {
      content: ' ';
      position: absolute;
      z-index: -1;
      top: -10px;
      right: 0;
      bottom: -10px;
      left: 0;
      background-color: rgba($backgroundBlue, 0.7);
      filter: blur(10px);
    }
  }
}

/**
  *  Responsive changes
  */

.container {
  @media (min-width: $breakpoint-2k) {
    font-size: 1.5em;
    max-width: 1600px;
  }
}

/**
  *  React DateTimePicker
  */

.rdt .rdtPicker {
  color: $textColorDark;
}

/**
 *  Custom Scrollbar
 */

.scrollarea.bb-scrollbar {
  .scrollbar-container {
    &:hover, &:active {

    }

    .scrollbar {
      background: $highlightColor;
    }
  }
}

/**
 *  SnowStorm
 */

.___snowStorm___ {
  z-index: 100 !important;
}

.loader {
  margin-top: 12px;
  padding: .375rem 0;
}

/**
 * Radio
 */

#radio {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;

  .microsite {
    height: 72px !important;
    #rde-player .rde-progress {
      background-color: $highlightColor !important;
    }
  }
  .radio-instance-1 .rde-equaliser-container .rde-equaliser-column .rde-colour-bar {
    background-color: $highlightColor !important;
  }
  .radio-instance-1 #rde-player .rde-btn:hover {
    color: $highlightColor !important;
  }
  .microsite, #rde-top-bar {
    background: none;
  }
  .microsite #rde-player {
    background: $backgroundBlue;
    border-top: none;
  }
}

#rde-player .dropdown-menu.rde-dropdown-menu-volume {
  top: auto;
  bottom: 100%;
}

.rde-top-bar-height {
  display: none;
}