$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2k: 2000px;

$headerHeight: 61px;
$footerHeight: 100px;

$highlightColor: #e31d3c;
$backgroundBlue: #081a29;
$disabledColor: #6c757d;
$grey: #495057;
$lightGrey: #c1c1c1;
$transparentBg: rgba(255,255,255,.08);
