.view.full-container.login {
  background: url("./img/BG_Login.png") no-repeat center;
  background-size: cover;

  display: flex;
  align-items: center;
  padding-bottom: 50px;
  color: #fff;

  h1 {
    font-family: "Riffic", serif;
    letter-spacing: 2px;
  }

  form .alert {
    margin-top: 15px;
  }

  .container.login {
    .access-denied {
      margin-bottom: 50px;
    }
  }
}
